Module Variables ("vars"):
--------------------------------
{{ vars  }} 

Environment Variables ("environment"):
--------------------------------
{{ environment  }} 

GROUP NAMES Variables ("group_names"):
--------------------------------
{{ group_names  }}

GROUPS Variables ("groups"):
--------------------------------
{{ groups  }}

HOSTVARS
----------------
{{ hostvars  }} 

{%- for host_name in groups['parameter'] %}
{{ hostvars[host_name]['interconnect_addr'] }}:2222
{% endfor %}
